
<h1> Edit a new Diner </h1>
<%= form_with model: @diner do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :borough %>
    <%= f.text_field :borough %><br>
    <%= f.submit "Submit Change to Diner"%>

<% end %>